#documento{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.cliente h1,
.cliente h3,
.cliente {
    text-align: center;
    margin: 1rem;
}

table{
    margin: 24px auto;
}

thead{
    margin-bottom: 24px;
}



tr, td{
    border: 1px solid #000000;
    padding: 5px;
}

.container-botoes {
    display: flex;
}

.btn2{
    width: 96px;
    margin: 0 auto 8px;
    background-color: #7703fc;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 5px
}

.btn-secondary {
    margin: 0 auto;
}